body {
    margin: 10px;
    background-color: rgb(19, 18, 18);
}

#ID-CARD {
    /* border: 2px solid black; */
    width: 60%;
    /* height: 700px; */
    display: flex;
    flex-wrap: wrap;
}


#mainbox {
    display: flex;
    background-color: #3A2C63;

}

#formcont {
    /* border: 2px solid black; */
    width: 50%;
    /* height: 700px; */
}

#formcard {
    background-image: url('/images/backface.png');
    margin-top: -5px;
 

}

.deCARD {
    border: 3px solid gray;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    margin: 20px;
    background-color:rgb(43, 41, 41);
    
    

}

input {
    width:400px;
    height: 30px;
    border-radius: 1rem;
    margin-top: 20px;
    background: transparent;
    color: azure;

}

::placeholder {
    color: azure;
    padding-left: 10px;
}


label {
    color: rgb(216, 216, 252);
    margin-left: 50px;
}


.textarea  {
    margin: 20px 10px;
}


.picframe {
    width: 100px;
    height: 100px;
    margin-left: 37px;
    margin-top: 20px;
    border-radius: 50%;
}

.seprator {
    width: 300px;
    height: 100px;
    /* border: 2px solid black ; */
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background-color: rgb(25, 25, 189);
    margin-top: -20px;
    border-bottom: 10px solid black;
}

.contentcrd {
    width: 170px;
    /* border: 2px solid black; */
    height: 340px;
    margin-left: 65px;
    margin-top: 55px;
    align-items: center;
    background-color: rgb(221, 219, 219);
    border-top-right-radius: 5px;
    border-top-left-radius:5px ;
    

}

.style-1 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: 700;
}

.text-2 {
    margin-bottom: -10px;
    margin-left: 8px;
}



.bttom {
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-color: rgb(25, 25, 189);
    margin-top: 340px;
}

.text-1 {
    display: flex;
    justify-content: center;
    margin-top: -5px;

}

.text-3{
    margin-left: 8px;
    margin-top: 35px;
    margin-bottom: -8px;
    
}

button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background:transparent;
    border-color: aliceblue;
    color: rgb(230, 230, 230);
    font-weight: 900;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 400px;
    background-color:rgb(0, 0, 0);
}

.foottext {
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding-top: 20px;
}
